:root {
     --cor-primaria: #EFBC9B;
     --cor-segundaria:#efbd9b80;
     --cor-tres:#FBF3D5;
     --branco:WHITE;
     --preto: black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color:var(--cor-primaria);
    display: flex;
    padding: 1rem;
}
main{
    width: 100%;
    flex-grow: 1;
    background-image: url(../imgs/library1.jpg);
    background-repeat: repeat;
    position: relative;
}
#form-buscar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative
    
}
#buscar{
    flex-grow: 0.75;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 0.5rem;
     
}
.icon-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}

#txt-ed{
    padding: 0.5rem;
    text-align: center;
    background-color:transparent;
    color: white;
}
#btn-buscar {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 11%;
    cursor: pointer;
}
#bt-delete{
    background-color: transparent;
    border: none;
    right: 50%;
    cursor: pointer;

}
nav{
    display: grid;
    color: white;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    background-color:var(--cor-tres) ;
    padding: 0.5rem;
  
}
nav a  {
    border-right: 2px solid var(--preto);
    color: black;
   
}
nav a:first-child{
    border-left: 2px solid var(--preto);
}
#banner {
    width: 100%;
    background-image: url(../imgs/woman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    position: relative;
    }
#txt-banner {
    position: absolute;
    top: 10%;
    right: 10%;

}


.conteudo{
    margin: 4rem;

    
}
.conteudo h1{
    text-align: center;
}
#cor1 img{
    border: none;
    position: relative;
    top: 11%;
    cursor: pointer;
}
#cor1 a {
    text-align: center; 
    position: relative;
    padding: 1rem;
    color:white

}
.card-container{
    display: grid;
    grid-template-columns: repeat(5,4fr);
    gap: 4rem;
}
.card {
    background-color:var(--cor-segundaria);
    border: 5px solid var(--cor-segundaria);
    border-radius: 8px;
    width:  225px; 
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
   
}
.card:hover{
    transform: scale(1.1)
    
}
a {
    text-decoration: none;
}



.card-img img {
    border-radius: 8px 8px 8px 8px; 
}

.icon-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem 0.5rem;
}
.pentagono{
    clip-path: polygon(100% 0, 100% 50%, 50% 100%, 50% 100%);
}
    

.card-content {
    color: white;
    padding: 0.5rem;
    text-align: center;
}
.botao{
    border: solid 4px transparent;
    border-radius: 8px;
    color: white;
    width: 50px;
    height: 25px;
    background-color: var(--cor-primaria);
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}
.botao:hover{
    background-color: blue;
    color: white;
    transform: scale(1.2)
}
footer{
    background-color:var(--cor-primaria);
    padding: 1rem;
    text-align: center;
    color: white;
}