:root {
     --cor-primaria: #f464c3;
     --cor-segundaria:#3D1C31;
     --cor-tres:#FDACE0;
     --branco:WHITE;
     --preto: black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    background-color: var(--cor-primaria);
    display: flex;
    padding: 1rem;
}
#form-buscar {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
#buscar{
    flex-grow: 1;
    border-radius: 5;
    
}

.icon-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;
}
#btn-buscar {
    
}